<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Mini Game Jam Dortmund - Impressum</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex" />
</head>
<body>
{{> imprintNav}}
<main>
    <div class="section">

        <a name="imprint"></a>
        <div>
            {{{this.contents}}}


            <br>
            <br>
            <br>
        </div>
    </div>
</main>

</body>

</html>