<!doctype html>

<html lang="de">

<head>
	<meta charset="utf-8">
	<title>Mini Game Jam Dortmund</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Entspannter eintägiger Game Jam im Künstlerhaus in Dortmund">
	<link rel="stylesheet" href="/css/flyer.css">
</head>

<body>
	<main>
		<div class="{{this.format}}">
			<div>
				<div class="flyer">
					<div class="head">
						<h1>{{this.title}}</h1>
						{{#if this.showLocation}}<h2>{{this.location}}</h2>	{{/if}}
						{{#if this.showDateline}}<h2>{{this.dateLine}}</h2> {{/if}}
						<img src="/img/people.png" id="people">
						{{#if this.showDateline}}<h3>{{this.link}}</h3>{{/if}}
						{{#if this.showDate}}
						<h3>{{this.timeLine}}, {{this.addressLine}}</h3>
						{{/if}}
					</div>
					{{#if this.text}}
					<div class="text">
						<p>
							{{{this.contents}}}
						</p>
					</div>
					{{/if}}
					{{#if this.snippets}}
					<div class="snippets">
						{{#times 10}}
						<div class="snippet">
							<div>
								<b>{{@root.title}}</b><br>
								<b>{{@root.linkSmall}}</b>
							</div>
						</div>
						{{/times}}
					</div>
					{{/if}}
				</div>
			</div>
		</div>
	</main>
</body>
