<!doctype html>

<html lang="de">

<head>
	<meta charset="utf-8">
	<title>Mini Game Jam Dortmund</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Entspannter eintägiger Game Jam im Künstlerhaus in Dortmund">
	<link rel="stylesheet" href="/css/flyer.css">
</head>

<body>
	<main>
        <div>
            <div class="flyer">
                <div class="head" style="letter-spacing:7px;">

                    <br>
                    <h1>MINI GAME JAM</h1>
                    <img src="/img/people.png" id="people" width="800">
                    <h1>DORTMUND</h1>
                    <!--<h1>game-jam-do.de</h1>-->
                </div>
            </div>
        </div>
    </main>
</body>
